{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react"
  ],
  "env": {
    "es6": true
  },
  "rules": {
    "semi": [1, "always"],
    "indent": [1, 2, {"SwitchCase": 1}],
    "comma-spacing": [1, {"before": false, "after": true}],
    "object-curly-spacing": [1, "always"],
    "space-before-function-paren": [1, "never"],
    "spaced-comment": [1, "always"],
    "eol-last": 1,

    "react/jsx-space-before-closing": [1, "always"],
    "react/jsx-no-duplicate-props": [2, {"ignoreCase": true}]
  }
}
